
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #9C63F1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  150px 0px;
    max-width: 414px;
    min-height: 100vh;
    gap:12px;
    position: relative;
}

.blur {
    width: 414px;
    height: 280px;
    background: #ffff;
    position: absolute;
    z-index: -1;
    opacity: 0.25;
    filter: blur(25px);

}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
}

.container-label{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.488px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
    margin-left: 4px;
}

input {
   width: 100%;
    height: 42px;
    margin-bottom: 8px;
    outline: none;
    border: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #ffffff;
    padding-left: 4px;
}

input::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #ffffff;
}

.button-entrar {
    margin-top: 20px;
   width: 100%;
    height: 50px;
    background: #d93856;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.button-entrar:hover {
opacity: 8.8;  
cursor: pointer;  
}

.button-entrar:active {
    opacity: 8.6;   
}

i {
    font-weight: 900;
    font-size: 22px;
    line-height: 2px;
}

.button-google {
    width: 100%;
    height: 68px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s case;
    background: rgba(255, 255, 255, 0.6);
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    color: #ffffff;
    gap: 12px;
}

.button-google:hover {
    opacity: 8.8;  
    cursor: pointer;  
}
    
.button-google:active {
    opacity: 8.6;   
}

.container-link {
    margin-top: 20px;
    position: relative;
}

a {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

a::after{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

a:hover:after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: 0;
    left: 0;
}

span {
    color: #ffff;
}


